<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>738377117633-oes9vci29sb935r2qffnvka17nl7tr3t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.738377117633-oes9vci29sb935r2qffnvka17nl7tr3t</string>
	<key>API_KEY</key>
	<string>AIzaSyDjCDpaiIkyd0Ba5v72gs5yGbth7u4BS_c</string>
	<key>GCM_SENDER_ID</key>
	<string>738377117633</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.varun.loginpage</string>
	<key>PROJECT_ID</key>
	<string>loginpage-d2d62</string>
	<key>STORAGE_BUCKET</key>
	<string>loginpage-d2d62.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:738377117633:ios:1bff930fe592d89c34c940</string>
</dict>
</plist>